<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        body {
            padding: 50px 80px;
            font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
            background: url('/images/spaceBG.png') repeat;
        }
        div#loginframe {
          width: 500px;
          margin: 0 auto;
          background: #FFF;
          padding: 2em;
          border: 1px solid #DEDEDE;
        }
        div#mainframe {
          width: 800px;
          margin: 0 auto;
          background: #FFF;
          padding: 1em;
          border: 1px solid #DEDEDE;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }

        .entry {
            border: 1px solid #eee;
            position: relative;
            padding: 0.6em;
            margin-bottom: 1em;
        }
        .entry-name {
            background: #DDD;
            padding: 0.2em;
            margin-bottom: 0.6em;
            font-weight: bold;
        }
        .entry-date {
            float: right;
        }
        .entry-message {
            clear: both;
        }
    </style>
  </head>
  <body>
